.card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
}

.card-body {
  padding: 8px 16px;
}

.card-body h2 {
  color: #797979;
  font-size: 20px;
  margin-bottom: 8px;
}

.card-body p {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
}

.card-body button {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #706fd3;
  cursor: pointer;
}