.cart {
  width: 100%;
  max-width: 316px;
  background-color: #fff;
  padding: 8px;
}

.cart-header {
  margin-bottom: 16px;
  text-transform: uppercase;
}

.cart-total {
  margin-top: 24px;
  width: 100%;
  font-size: 20px;
}