.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* header */
.header {
  height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #706fd3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.header > h1 {
  line-height: 1;
}

.header-icon {
  position: relative;
}

.header-icon > svg {
  font-size: 34px;
}

.header-quantity {
  position: absolute;
  top: -6px;
  right: 0;
  background-color: #d25aba;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;

  font-weight: 700;
  font-size: 13px;
}

.wrapper-cards {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 16px;
}

.card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  margin-bottom: 16px;
}

.card-body {
  padding: 8px 16px;
}

.card-body h2 {
  color: #797979;
  font-size: 22px;
  margin-bottom: 8px;
}

.card-body p {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 22px;
}

.card-body a {
  display: block;
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #706fd3;
}