.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}

.cart-item + .cart-item {
  margin-top: 24px;
}

.cart-item-img {
  width: 100px;
}

.cart-item-name {
  margin-bottom: 4px;
  font-size: 13px;
}

.cart-item-price {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.cart-item-remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
}

.wrapper-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item-increase {
  font-size: 20px;
  cursor: pointer;
}

.cart-item-decrease {
  font-size: 20px;
  cursor: pointer;
}

.cart-item-quantity {
  display: block;
  font-size: 14px;
  font-weight: bold;
}